.body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#banner {
    width: 100%;
    background-color: #f5e595;
    text-align: center;
}

#combined-banner {
    position: fixed;
    width: 100%;
    z-index: 999;
}

#headerImage {
    height: 150px;
    width: auto;
}

#formBanner {
    background-color: rgb(249, 197, 205);
    Height: 30
    px;
    text-align: center;
    padding: 25px;
}

#form {
    font-size: 13pt;
}

.card {
    transition: transform .2s;
    height: 250px;
    width: 500px;
    background-color: white;
    margin: 50px;
    padding: 0;
    border-radius: 20px;
    border: 7px solid white;
    display: flex;
}

select {
    height: 30px;
    border: 0px;
    background-color: white;
}

optgroup {
    font-size: 80pt;
}

input {
    height: 30px;
    background-color: palevioletred;
    color:white;
    border: black 1px;
}

option{
    font-size: 50pt;
    text-align: center;
}

.zoom {
    transition: transform .2s;
    transform: scale(1.1);
}

h2 {
    color: rgb(63, 119, 193);
    font-family: 'Rubik Bubbles', cursive;
    font-size: 23pt;
    text-align: center;
}

.dog-info {
    width: 50%;
    height: 200px;
}

.textDiv {
    height: 100%;
    width: 250px;
    font-family: 'Spline Sans Mono', monospace;
}

.adoptMeButton {
    width: 65%;
    height: auto;
}

.adoptDiv {
    width: 100%;
    text-align: center;
    text-align: center;
    
}

.dogImg {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px
}

.age {
    margin-right: 0 auto;
    text-align: center;
    margin-right: 15px;
    margin: black;
}

img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

p {
    margin: 0;
    color: black;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: larger;
    line-height: 110%;
}


#card-container{
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 300px;
}


.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.3s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}