.body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#banner {
    width: 100%;
    background-color: #f5e595;
    text-align: center;

}

#headerImage {
    height: 150px;
    width: auto;
}

#formBanner {
    background-color: azure;
    Height: 30px;
    text-align: center;
    padding: 25px;
}

#form {
    font-size: 13pt;
}

.card {
    transition: transform .2s;
    height: 250px;
    width: 500px;
    background-color: white;
    margin: 50px;
    padding: 0;
    border-radius: 20px;
    border: 7px solid white;
    display: flex;
}

.textDiv {
    height: 250px;
    width: 250px;
}

.zoom {
    transition: transform .2s;
    transform: scale(1.1);
}

.dogImg {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px
}

h2 {
    color: black;
    text-align: right;
}

.age {
    margin-right: 0 auto;
    text-align: right;
    margin-right: 15px;
    margin: black;
}

img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

p {
    margin: 0;
    color: black;
    text-align: right;
}

.dog-info {
    width: 50%;
    height: 100%;
}

/*added*/
main {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.adoptMeButton {
    width: 60%;
    height: auto;
}

.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.3s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

.adoptDiv {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}